@model IEnumerable<TalepWebUygulamasi.Entities.Talep>

@{
    ViewBag.Title = "Talep Listesi";
    var userRole = ViewData["urole"];
    var uname = ViewData["uname"];
}

<h2>Talep Listesi</h2>

@if ((string)userRole == "Kullanıcı")
{
    <p>
        @Html.ActionLink("Yeni Talep Oluştur", "Create", null, new { @class = "btn btn-primary" })
    </p>
}



<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.TalepKonusu)*@
            Talep Konusu
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TalepAciklama)*@
            Talep Açıklama
        </th>
        <th>
            Talep İşlemler
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.FileUrl)*@
            Dosya
        </th>
        @if ((string)userRole == "Kullanıcı")
        {
            <th>
                Değerlendirildimi?
            </th>
        }
        @if ((string)userRole == "Yönetici")
        {
            <th>
                Talebi Değerlendir
            </th>
        }
    </tr>

    @foreach (var item in Model)
    {
        if ( ( ((string)userRole == "Kullanıcı") && (item.TalebiYapan == (string)uname) )  || ( ((string)userRole == "Yönetici") && (item.TalebinYapildigiKisi == (string)uname) ) )
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TalepKonusu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TalepAciklama)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.TalepId }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Ayrıntılar", "Details", new { id = item.TalepId }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Sil", "Delete", new { id = item.TalepId }, new { @class = "btn btn-danger" })
                </td>
                <td>
                    @if (@item.FileUrl != null)
                    {
                        <a class="btn btn-success" href="@item.FileUrl ">İndir</a>
                    }
                    else
                    {
                        <button class="btn btn-block">Dosya Yok</button>
                    }
                </td>
                @if ((string)userRole == "Kullanıcı")
                {

                    if (item.Degerlendirildimi)
                    {
                        if (item.olumluOlumsuz)
                        {
                            <td>Talebiniz Olumlu Değerlendirildi, Bilgi için Ayrıntıları İnceleyebilirsiniz</td>
                        }
                        else
                        {
                            <td>Talebiniz Olumsuz Değerlendirildi, Bilgi için Ayrıntıları İnceleyebilirsiniz</td>
                        }
                    }
                    else
                    {
                        <td>Henüz Değerlendirilmedi</td>
                    }
                }
                @if ((string)userRole == "Yönetici")
                {
                    if (item.Degerlendirildimi)
                    {
                        <td>
                            @Html.ActionLink("Değerlendirildi", "Evaluate", new { id = item.TalepId }, new { @class = "btn btn-warning", @disabled = "disabled" })
                            @*<dialog class="btn"></dialog>*@
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink("Değerlendir", "Evaluate", new { id = item.TalepId }, new { @class = "btn btn-warning" })
                            @*<dialog class="btn"></dialog>*@
                        </td>
                    }

                }
            </tr>
        }
    }
</table>
